node_modules
# Keep environment variables out of version control
.env

/app/generated/prisma
.next/
.vercel/
*.log
build_log.txt
.env*.local
.pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
